# 多平台项目 - 忽略各平台构建产物
android/app/build/
android/.gradle/
android/.kotlin/
android/build/
android/local.properties

windows/bin/
windows/obj/

.DS_Store

web-vue/package-lock.json
web-react/package-lock.json
